.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-profile {
	padding: 20px 40px;
}

.infos-vendor {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	border-bottom: solid black 2px;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 5rem;
}

.btn-vendor {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	width: 20rem;

}

