.section {
  font-family: "Verdana";
}

.section:hover {
  color: rgb(252, 8, 8);
  font-size: 1.2em;
  transition-timing-function: ease-in-out;
}

.container-section {
  border-bottom: 1px solid #c5c5c5;
}
